<!DOCTYPE html>
<html lang="en" ng-app="AppModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Watchers</title>
</head>
<body ng-controller="appController">
    <h1>The Digest Cycle</h1>

    <div>
        <button ng-click="showNumberOfWatchers()">
            Watchers
        </button>
    </div>
    <div>
        <button ng-click="counterOnce()"> counterOnce </button>
        <button ng-click="upCounter()"> Increment Counter </button>
    </div>
    <div>
        Once counter: {{ onceCounter }} <br>
        Regular counter: {{ counter }}
    </div>
</body>
</html>